In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import numpy as np
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
# Create quick lambda functions to find the polarity and subjectivity of each routine
from textblob import TextBlob
pol = lambda x: TextBlob(x).sentiment.polarity
sub = lambda x: TextBlob(x).sentiment.subjectivity

In [5]:
BB = pd.read_csv('/Users/jiaruizhang/Desktop/reviews/coding/after sort.csv')
BB = BB.sort_index()
BB['polarity'] = BB['content'].apply(pol)
BB['subjectivity'] = BB['content'].apply(sub)
BB

,content,star,sku,label,polarity,subjectivity
0,its a bagit holds candy not included trick or ...,5,8566349,1,0.400000,0.800000
1,the bag would be a great deal if it was availa...,1,8566349,0,0.262500,0.337500
2,loved the movie and it played ok was delivered...,5,6083463,1,0.600000,0.650000
3,as a guy i cant say im headoverheels for dirty...,3,6083463,0,-0.029932,0.600680
4,this movie is great for all ages shipping was ...,5,8977805,1,0.500000,0.675000
...,...,...,...,...,...,...
154,i bought this as a christmas gift for a family...,5,3792604,0,0.514286,0.460714
155,our purchase was as a christmas gift for our g...,5,3792604,1,0.221429,0.308929
156,this is just a quick note for anyone who was c...,4,3792604,1,0.333333,0.500000
157,stargate sg the entire series just amazing to ...,5,8553399,0,0.150000,0.664286
158,i was very excited to receive this set however...,1,8553399,1,-0.135937,0.481250

In [9]:
# polarity
pol_melt = pd.melt(BB, id_vars=['label'],value_vars=['polarity'])
#Ordinary Least Squares (OLS) model
pol_model = ols('value ~ label', data=pol_melt).fit()
pol_anova = sm.stats.anova_lm(pol_model,typ=2)
print(pol_anova)

             sum_sq     df         F    PR(>F)
label      0.000116    1.0  0.001717  0.966996
Residual  10.575467  157.0       NaN       NaN

In [8]:
# subjectivity
sub_melt = pd.melt(BB, id_vars=['label'],value_vars=['subjectivity'])
#Ordinary Least Squares (OLS) model
sub_model = ols('value ~ label', data=sub_melt).fit()
sub_anova = sm.stats.anova_lm(sub_model,typ=2)
print(sub_anova)

            sum_sq     df        F   PR(>F)
label     0.033202    1.0  1.05705  0.30547
Residual  4.931447  157.0      NaN      NaN

In [7]:
# star
star_melt = pd.melt(BB, id_vars=['label'],value_vars=['star'])
#Ordinary Least Squares (OLS) model
star_model = ols('value ~ label', data=star_melt).fit()
star_anova = sm.stats.anova_lm(star_model,typ=2)
print(star_anova)

              sum_sq     df         F    PR(>F)
label       0.331942    1.0  0.287566  0.592543
Residual  181.227806  157.0       NaN       NaN